# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Secret key
*.secret

# Virtual environment
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Heroku
*.pyc
*.pyo
*.db

# Local development settings
local_settings.py

# Mac OS
.DS_Store

# Linux
*~

# Windows
Thumbs.db